﻿@model IEnumerable<FAT.Models.Services>
@{
    ViewData["Title"] = "Home Page";
}

<div class="service-container row">
    @if (Model.Count() > 0)
    {
        @foreach (var ser in Model)
        {
            <div class="service-card card text-white card bg-primary col-4" style="max-width: 22rem; ">
                <div class="card-header col-12">@Html.DisplayFor(s => ser.header)</div>
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(s => ser.tittle)</h4>
                    <p class="card-text" style="text-align:justify;">
                        @Html.DisplayFor(s => ser.description)
                    </p>
                    <div class="row">
                        <div class="col">
                            <form method="get" asp-area="Admin" asp-controller="Turn" asp-action="Create">
                                <input type="hidden" name="idService" value="@Html.DisplayFor(s => ser.id)" />
                                <input type="hidden" name="tittleService" value="@Html.DisplayFor(s => ser.tittle)" />
                                <button type="submit" class="btn btn-success align-content-center form-control"><i class="fas fa-check-circle"></i> Seleccionar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/index.js"></script>
}