﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crea una nueva cuenta</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <input type="radio" name="radUserRole" value="@FAT.CNT.CNT.Admin" />@FAT.CNT.CNT.Admin
                    <input type="radio" name="radUserRole" value="@FAT.CNT.CNT.User" />@FAT.CNT.CNT.User
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
