﻿/**styles logo fat*/

.logo-fat{
    content:url("../img/logo-fat-complete-white.png");
    float: left;
    max-width: 15%;
}

@media only screen and (max-width: 575px) {
    .logo-fat {
        content: url("../img/logo-fat-white.png");
        float: none;
        max-width: 40%;
    }
}

.service-container {
    margin-top: 5%;

}

.service-card {
    margin-left: 10px !important;
}

@media only screen and (max-width: 414px) {
    .service-card {
        margin-left: 10% !important;
    }
}

@media only screen and (max-width: 320px) {
    .service-card {
        margin-left: 6% !important;
    }
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #FFF !important;
}

.dataTables_wrapper .dataTables_filter input {
 color: #fff !important;   
}

