﻿@model FAT.Models.Services
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<h3 class="text-center">Editar servicio</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id"  />
        <div class="col-10 offset-sm-1 mt-4">
            <!--header form-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="header"></label>
                </div>
                <div class="col-8">
                    <input asp-for="header" class="form-control" />
                    <span asp-validation-for="header" class="text-danger"></span>
                </div>
            </div>
            <!--tittle form-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="tittle"></label>
                </div>
                <div class="col-8">
                    <input asp-for="tittle" class="form-control" />
                    <span asp-validation-for="tittle" class="text-danger"></span>
                </div>
            </div>
            <!--description form-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="description" class="form-control"></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.id">Actualizar</button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a listado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



