﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>Servicios</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear nuevo servicio</a>
        </div>
    </div>

    <br />
    <br />

    <table id="table_services" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Cabecera</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Acciónes</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{ 
    <script src="~/js/services.js"> </script>
}
