﻿@model FAT.Models.Turn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idservice = @TempData["idService"];
    var tittleService = TempData["tittleService"];
    var queue_assign = TempData["queueAssign"];
}

<br />
<br />
<br />
<h3 class="text-center">Nuevo turno</h3>
<form method="post" name="form_turn" asp-action="Create">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-sm-1 mt-4">
            <!--Cliid form-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cliid" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cliid" class="form-control" />
                    <span asp-validation-for="Cliid" class="text-danger"></span>
                </div>
            </div>
            <!--CliName form-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CliName" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CliName" class="form-control" />
                    <span asp-validation-for="CliName" class="text-danger"></span>
                </div>
            </div>
            <!--Status, queueID and service hidden form-->
            <div class="form-group">
                <input type="hidden" asp-for="Status" value="0" class="form-control" />
                <input type="hidden" asp-for="QueueId" value="@queue_assign" class="form-control" />
                <input asp-for="ServicesId" type="hidden" value="@idservice" class="form-control" asp-items="ViewBag.ServicesId" />
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Crear</button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a class="btn btn-secondary" asp-area="User" asp-controller="Home" asp-action="Index">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        var id_service = '@idservice';
        var tservice = '@tittleService';
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/turn.js"></script>
}
