﻿
@{
    ViewData["Title"] = "GetTurns";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var List = @TempData["ListTurn"];
}

<h1>Listado de turnos</h1>

<table id="table_turns" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID cliente</th>
            <th>Nombre</th>
            <th>Tipo de servicio</th>
            <th>Cola asignada</th>
            <th>Posición</th>
            <th>Estatus</th>
            <th>Hora de atencion</th>
        </tr>
    </thead>
    <tbody id="list_table_body"></tbody>
</table>


@section Scripts{
    <script>
        let l = '@List';
    </script>
    <script src="~/js/ListTurn.js"></script>
}